<div>
  <h2 id="page-heading" data-cy="ProxyServersHeading">
    <span jhiTranslate="visitGeoLocationApp.proxyServers.home.title">Proxy Servers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="visitGeoLocationApp.proxyServers.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-proxy-servers"
        [routerLink]="['/proxy-servers/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="visitGeoLocationApp.proxyServers.home.createLabel">Create a new Proxy Servers</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (proxyServers?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="visitGeoLocationApp.proxyServers.home.notFound">No Proxy Servers found</span>
    </div>
  }

  @if (proxyServers && proxyServers.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ipAddress">
              <div class="d-flex">
                <span jhiTranslate="visitGeoLocationApp.proxyServers.ipAddress">Ip Address</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="port">
              <div class="d-flex">
                <span jhiTranslate="visitGeoLocationApp.proxyServers.port">Port</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="country">
              <div class="d-flex">
                <span jhiTranslate="visitGeoLocationApp.proxyServers.country">Country</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="protocol">
              <div class="d-flex">
                <span jhiTranslate="visitGeoLocationApp.proxyServers.protocol">Protocol</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="anonymity">
              <div class="d-flex">
                <span jhiTranslate="visitGeoLocationApp.proxyServers.anonymity">Anonymity</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="organization">
              <div class="d-flex">
                <span jhiTranslate="visitGeoLocationApp.proxyServers.organization">Organization</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="speed">
              <div class="d-flex">
                <span jhiTranslate="visitGeoLocationApp.proxyServers.speed">Speed</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="responseTime">
              <div class="d-flex">
                <span jhiTranslate="visitGeoLocationApp.proxyServers.responseTime">Response Time</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="successCount">
              <div class="d-flex">
                <span jhiTranslate="visitGeoLocationApp.proxyServers.successCount">Success Count</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="failCount">
              <div class="d-flex">
                <span jhiTranslate="visitGeoLocationApp.proxyServers.failCount">Fail Count</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (proxyServers of proxyServers; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/proxy-servers', proxyServers.id, 'view']">{{ proxyServers.id }}</a>
              </td>
              <td>{{ proxyServers.ipAddress }}</td>
              <td>{{ proxyServers.port }}</td>
              <td>{{ proxyServers.country }}</td>
              <td>{{ proxyServers.protocol }}</td>
              <td>{{ proxyServers.anonymity }}</td>
              <td>{{ proxyServers.organization }}</td>
              <td>{{ proxyServers.speed }}</td>
              <td>{{ proxyServers.responseTime }}</td>
              <td>{{ proxyServers.successCount }}</td>
              <td>{{ proxyServers.failCount }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/proxy-servers', proxyServers.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/proxy-servers', proxyServers.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(proxyServers)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
